body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.scoreboard {
    width: 400px;
    display: flex;
    position: absolute;
    top: 15%;
    left: 35.5%;
    align-items: center;
    justify-content: space-between;
}

.scoreboard span {
    font-size: 20px;
    font-weight: bold;
}

.gameContainer {
    display: flex; 
}

.gameContainer #gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gameContainer .startMenu {
    z-index: 1;
    width: 400px;
    height: 100px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   

    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: center;
}

.gameContainer .startMenu button{
    width: 110px;
    height: 40px;


    text-decoration: none;
    background-color: #ffffff;
    border-color: black;
}
